body {
    font-family: Arial, sans-serif;
    padding: 10px;
    /* background-color: linear-gradient(to bottom, #52B69A, #FFFFFF); */
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(82, 182, 154) 0%, rgb(255, 255, 255) 71.5%);
    position: relative;
    width: 1440px;
    height: 1024px;
}

/* .intervention .div {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(82, 182, 154) 0%, rgb(255, 255, 255) 71.5%);
    width: 1440px;
    height: 1024px;
    position: relative;
} */

h1 {
    font-size: 20px;
    color: #FFFFFF;
}

h2 {
    font-size: 16px;
    color: #225F91;
}

hr{
    border-top: 1px;
    color: #225F91;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #225F91;
    border: none;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #3182ce;
}

img{
    width: 168px;
}

.website-line {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #225F91;
}